/* 此css文件用于定义顶部导航栏. */

html{
    --nav-color: rgba(0, 0, 0, .8);
    --navlink-big-size: 18px;
    --navlink-original-color: rgba(255, 255, 255, .7);
    --navlink-hover-color: white;
    --menu-bgcolor: rgb(49, 49, 49);
}

.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    display: block;
    width: 100%;
    background-color: var(--nav-color);
    backdrop-filter: blur(20px);
    z-index: 10;
}

.links_box {
    position: absolute;
    right: 50px;
    height: 100%;
    line-height: 50px;
    width: auto;
}
.logo_box {
    position: absolute;
    left: 60px;
    height: 100%;
    width: auto;
}
.nav_link {
    padding: 3px 5px 3px 5px;
    text-decoration: none;
    color: var(--navlink-original-color);
    transition: .2s;
}
.nav_link:hover {
    color: var(--navlink-hover-color);
    font-size: var(--navlink-big-size);
}
.logo {
    position: absolute;
    top: 5px;
    height: 40px;
}

@media screen and (max-width:500px){
    .links_box{
        display: none;
    }
    .menu_btn{
        position: absolute;
        right: 10px;
        height: 40px;
        width: 40px;
        top: 5px;
        cursor: pointer;
    }
    .menu_top{
        position: absolute;
        width: 20px;
        top: 13px;
        border-bottom: 3px solid white;
        border-radius: 4px;
        left: 10px;
        height: 0px;
        color: white;
        transition: .2s;
    }
    .menu_top{
        top: 13px;
        transform: rotate(0deg);
    }
    .menu_bottom{
        position: absolute;
        width: 20px;
        bottom: 13px;
        border-top: 3px solid white;
        border-radius: 4px;
        left: 10px;
        height: 0px;
        color: white;
        transition: .2s;
    }
    .menu_bottom{
        bottom: 13px;
        transform: rotate(0deg);
    }
    .menu_box{
        position: absolute;
        display: none;
        top: 5px;
        background-color: var(--menu-bgcolor);
        width: 150px;
        height: 230px;
        right: 10px;
        text-align: right;
        padding: 10px 10px 0px 0px;
        border-radius: 5px;
        transform: scale(0.3);
        transform-origin: right 0px;
        opacity: 0;
        transition: .3s;
    }
    .nav_link{
        font-size: 26px;
        line-height: 42px;
    }
    .nav_link:hover{
        font-size: 26px;
        line-height: 42px;
    }
    .nav_link:active{
        color: white;
    }
    .logo_box{
        left: 10px;
    }
    .cover{
        display: none;
        position: fixed;
        z-index: 20;
        width: 100vw;
        height: calc(100vh - 50px);
        left: 0;
        top: 50px;
        transition: .3s;
    }
}